.places__paragraph {
  margin: 27px 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;

}

@media screen and (max-width: 1100px) {
  .places__paragraph {
    margin: 26px 0 0;
  }
}

@media screen and (max-width: 900px) {
  .places__paragraph {
    margin: 25px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
}

@media screen and (max-width: 570px) {
  .places__paragraph {
    margin: 25px 16px 0;
  }
  
}

.places__paragraph:first-of-type {
  margin-top: 0;
}