.places__link {
  margin: 12px 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-decoration-line: underline;
  text-underline-offset: 5px;
  color: #ffffff;
  transition: .5s;
}

.places__link:hover {
  opacity: .8;
}

@media screen and (max-width: 570px) {
  .places__link {
    margin: 12px 16px 0;
  }
}