.content {
  display: grid;
  row-gap: 92px;
}

@media screen and (max-width: 900px) {
  .content {
    row-gap: 88px;
  }
}

@media screen and (max-width: 570px) {
  .content {
    row-gap: 64px;
  }
}