.photo-grid__wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  row-gap: 16px;
  column-gap: 16px;
  grid-auto-flow: row;
}

@media screen and (max-width: 1100px) {
  .photo-grid__wrapper {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 14px;
    column-gap: 14px;
  }
}

@media screen and (max-width: 900px) {
  .photo-grid__wrapper {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 16px;
  }
}

@media screen and (max-width: 500px) {
  .photo-grid__wrapper {
    grid-template-columns: 1fr;
    row-gap: 12px;
    column-gap: 0;
  }
}