.footer__link {
  margin: 0;
  margin-right: 18px;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
  transition: .5s;
}


.footer__link:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 570px) {
  .footer__link {
    margin: 32px 0 0;
    font-size: 24px;
    line-height: 24px;
  }

  /* Первая ссылка в колонке не получит верхний отступ */
  .footer__link:first-of-type {
    margin: 0;
  }
}

.footer__link:hover {
  opacity: .8;
}