.content__photo-grid {
  list-style-type: none;
  padding: 0;
  margin: 0 48px;
}

@media screen and (max-width: 900px) {
  .content__photo-grid {
    margin: 0 24px;
  }
  
}

@media screen and (max-width: 500px) {
  .content__photo-grid {
    margin: 0 16px;
  }
  
}