.lead__title {
  margin: 0;
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}

/* Ширина title 720px. Сменил локально точку перелома (570 --> 721) чтобы не переполнялся блок */
@media screen and (max-width: 721px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}

